header {
    background: #003366; /* 어두운 심해 색 */
    padding: 10px 0;
    border-bottom: 1px solid #004080; /* 어두운 색상 */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    
}
header div a {
    text-decoration: none;
    color: #f0f0f0; /* 밝은 폰트 색상 */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}


nav ul li a {
    text-decoration: none;
    color: #f0f0f0; /* 밝은 폰트 색상 */
    position: relative;
    overflow: hidden; /* 넘치는 부분을 숨기기 위해 추가 */
    outline: none; /* 포커스 아웃라인 제거 */
}

nav ul li a:after {
    content: '';
    width: 30%;
    height: 100%;
    position: absolute;
    left: -30%; /* 그라데이션이 텍스트 왼쪽에서 시작 */
    top: 0;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0), #003366, rgba(255, 255, 255, 0));
}

nav ul li a:hover:after {
    transition: all .4s ease-out;
    left: 100%; /* 호버 시 그라디언트가 텍스트를 지나 오른쪽으로 이동 */
}

nav ul li a:focus {
    outline: none; /* 포커스 아웃라인 제거 */
    background-color: rgba(255, 255, 255, 0.1); /* 포커스 시 배경색 변경 */
}
body {
	font-family: Arial, sans-serif;
    background-color: #003366;
}
/* .section {
	background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.section h2 {
	margin-top: 0;
} */
form {
	display: flex;
    flex-wrap: wrap;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="date"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-group {
    flex: 1 1 45%;
    margin-right: 20px;
}
.form-group:last-child {
    margin-right: 0;
}
.form-actions {
    flex-basis: 100%;
    text-align: center;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.error-input {
	border: 2px solid red; /* 오류 입력에 대한 스타일 */
}